{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/_app",
          "*.db"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/www/abramova.newsystempsy.com/business",
      "timeout": 20000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "exportHistory": true,
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1614316789584,
          "date": "2024-04-27T08:24:01.542Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1712154233480.137,
          "date": "2024-04-27T08:24:02.195Z"
        },
        {
          "file": "favicon.svg",
          "mtimeMs": 1614316776707.5503,
          "date": "2024-04-27T08:24:02.851Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1714379040909.5137,
          "date": "2024-04-29T08:24:07.376Z"
        },
        {
          "file": "css/styles.css",
          "mtimeMs": 1714383876543.3157,
          "date": "2024-04-29T09:44:40.292Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1714383878490.8723,
          "date": "2024-04-29T09:44:40.694Z"
        },
        {
          "file": "css/styles.min.css.map",
          "mtimeMs": 1714383878493.877,
          "date": "2024-04-29T09:44:41.042Z"
        },
        {
          "file": "fonts/Gerhaus.eot",
          "mtimeMs": 1713950548000,
          "date": "2024-04-27T08:24:06.321Z"
        },
        {
          "file": "fonts/Gerhaus.otf",
          "mtimeMs": 1713950548000,
          "date": "2024-04-27T08:24:06.975Z"
        },
        {
          "file": "fonts/Gerhaus.svg",
          "mtimeMs": 1713950548000,
          "date": "2024-04-27T08:24:07.734Z"
        },
        {
          "file": "fonts/Gerhaus.ttf",
          "mtimeMs": 1712747592000,
          "date": "2024-04-27T08:24:08.451Z"
        },
        {
          "file": "fonts/Gerhaus.woff",
          "mtimeMs": 1713950548000,
          "date": "2024-04-27T08:24:09.110Z"
        },
        {
          "file": "fonts/Gerhaus.woff2",
          "mtimeMs": 1713950548000,
          "date": "2024-04-27T08:24:09.736Z"
        },
        {
          "file": "fonts/InterRegular.eot",
          "mtimeMs": 1711945512000,
          "date": "2024-04-27T08:24:10.618Z"
        },
        {
          "file": "fonts/InterRegular.svg",
          "mtimeMs": 1711945512000,
          "date": "2024-04-27T08:24:11.721Z"
        },
        {
          "file": "fonts/InterRegular.ttf",
          "mtimeMs": 1711945512000,
          "date": "2024-04-27T08:24:12.479Z"
        },
        {
          "file": "fonts/InterRegular.woff",
          "mtimeMs": 1711945512000,
          "date": "2024-04-27T08:24:13.179Z"
        },
        {
          "file": "fonts/InterRegular.woff2",
          "mtimeMs": 1711945516000,
          "date": "2024-04-27T08:24:14.075Z"
        },
        {
          "file": "fonts/NoahBold.eot",
          "mtimeMs": 1713874700000,
          "date": "2024-04-27T08:24:14.782Z"
        },
        {
          "file": "fonts/NoahBold.svg",
          "mtimeMs": 1713874700000,
          "date": "2024-04-27T08:24:15.756Z"
        },
        {
          "file": "fonts/NoahBold.ttf",
          "mtimeMs": 1713874700000,
          "date": "2024-04-27T08:24:16.476Z"
        },
        {
          "file": "fonts/NoahBold.woff",
          "mtimeMs": 1713874700000,
          "date": "2024-04-27T08:24:17.123Z"
        },
        {
          "file": "fonts/NoahBold.woff2",
          "mtimeMs": 1713874702000,
          "date": "2024-04-27T08:24:17.749Z"
        },
        {
          "file": "fonts/NoahRegular.eot",
          "mtimeMs": 1713874710000,
          "date": "2024-04-27T08:24:18.452Z"
        },
        {
          "file": "fonts/NoahRegular.svg",
          "mtimeMs": 1713874710000,
          "date": "2024-04-27T08:24:19.248Z"
        },
        {
          "file": "fonts/NoahRegular.ttf",
          "mtimeMs": 1713874710000,
          "date": "2024-04-27T08:24:19.964Z"
        },
        {
          "file": "fonts/NoahRegular.woff",
          "mtimeMs": 1713874710000,
          "date": "2024-04-27T08:24:20.596Z"
        },
        {
          "file": "fonts/NoahRegular.woff2",
          "mtimeMs": 1713874712000,
          "date": "2024-04-27T08:24:21.243Z"
        },
        {
          "file": "img/backs/plan.png",
          "mtimeMs": 1714141270054.295,
          "date": "2024-04-27T08:24:23.653Z"
        },
        {
          "file": "img/backs/prices.png",
          "mtimeMs": 1714141280371.746,
          "date": "2024-04-27T08:24:24.459Z"
        },
        {
          "file": "img/icons/about-1.png",
          "mtimeMs": 1714123296000,
          "date": "2024-04-27T08:24:25.086Z"
        },
        {
          "file": "img/icons/about-2.png",
          "mtimeMs": 1714123296000,
          "date": "2024-04-27T08:24:25.693Z"
        },
        {
          "file": "img/icons/about-3.png",
          "mtimeMs": 1714123296000,
          "date": "2024-04-27T08:24:26.322Z"
        },
        {
          "file": "img/icons/about-4.png",
          "mtimeMs": 1714123296000,
          "date": "2024-04-27T08:24:27.004Z"
        },
        {
          "file": "img/icons/about-5.png",
          "mtimeMs": 1714123296000,
          "date": "2024-04-27T08:24:27.690Z"
        },
        {
          "file": "img/icons/about-6.png",
          "mtimeMs": 1714123296000,
          "date": "2024-04-27T08:24:28.327Z"
        },
        {
          "file": "img/icons/arrow-down-orange.svg",
          "mtimeMs": 1713883664683.17,
          "date": "2024-04-27T08:24:29.051Z"
        },
        {
          "file": "img/icons/arrow-down-white.svg",
          "mtimeMs": 1713883646228.3196,
          "date": "2024-04-27T08:24:29.732Z"
        },
        {
          "file": "img/icons/close.svg",
          "mtimeMs": 1713971638163.2227,
          "date": "2024-04-27T08:24:31.090Z"
        },
        {
          "file": "img/icons/next.svg",
          "mtimeMs": 1713883462500.2969,
          "date": "2024-04-27T08:24:32.397Z"
        },
        {
          "file": "img/icons/prev.svg",
          "mtimeMs": 1714018770998.077,
          "date": "2024-04-27T08:24:32.982Z"
        },
        {
          "file": "img/images/arrow-down.svg",
          "mtimeMs": 1713883447655.9707,
          "date": "2024-04-27T08:24:33.572Z"
        },
        {
          "file": "img/images/cert.png",
          "mtimeMs": 1714123358000,
          "date": "2024-04-27T08:24:34.445Z"
        },
        {
          "file": "img/images/janna-1.png",
          "mtimeMs": 1714123358000,
          "date": "2024-04-27T08:24:35.220Z"
        },
        {
          "file": "img/images/janna-2.png",
          "mtimeMs": 1714123358000,
          "date": "2024-04-27T08:24:35.964Z"
        },
        {
          "file": "img/images/janna-main.png",
          "mtimeMs": 1714383157780.8647,
          "date": "2024-04-29T09:32:43.698Z"
        },
        {
          "file": "img/images/logo-1.svg",
          "mtimeMs": 1712556597086.2952,
          "date": "2024-04-27T08:24:37.317Z"
        },
        {
          "file": "img/images/logo-black.svg",
          "mtimeMs": 1712829548906.5344,
          "date": "2024-04-27T08:24:37.980Z"
        },
        {
          "file": "img/images/main-0.png",
          "mtimeMs": 1714377255251.1404,
          "date": "2024-04-29T08:24:09.962Z"
        },
        {
          "file": "img/images/what.png",
          "mtimeMs": 1714123358000,
          "date": "2024-04-27T08:24:39.542Z"
        },
        {
          "file": "img/revs/text-1.png",
          "mtimeMs": 1714123404000,
          "date": "2024-04-27T08:24:40.233Z"
        },
        {
          "file": "img/revs/text-2.png",
          "mtimeMs": 1714123404000,
          "date": "2024-04-27T08:24:40.884Z"
        },
        {
          "file": "js/libs.js",
          "mtimeMs": 1713894493574.5212,
          "date": "2024-04-27T08:24:45.819Z"
        },
        {
          "file": "js/libs.min.js",
          "mtimeMs": 1713894505858.8494,
          "date": "2024-04-27T08:24:46.582Z"
        },
        {
          "file": "js/libs.min.js.map",
          "mtimeMs": 1713894505880.8533,
          "date": "2024-04-27T08:24:47.317Z"
        },
        {
          "file": "js/scripts.js",
          "mtimeMs": 1714045675366.7476,
          "date": "2024-04-27T08:24:47.947Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1714045675975.968,
          "date": "2024-04-27T08:24:48.524Z"
        },
        {
          "file": "js/scripts.min.js.map",
          "mtimeMs": 1714045675976.9736,
          "date": "2024-04-27T08:24:49.115Z"
        },
        {
          "file": "img/revs/text-3.png",
          "mtimeMs": 1714123404000,
          "date": "2024-04-27T08:24:41.615Z"
        },
        {
          "file": "img/revs/text-4.png",
          "mtimeMs": 1714123404000,
          "date": "2024-04-27T08:24:42.296Z"
        },
        {
          "file": "img/revs/text-5.png",
          "mtimeMs": 1714123404000,
          "date": "2024-04-27T08:24:42.982Z"
        },
        {
          "file": "img/revs/text-6.png",
          "mtimeMs": 1714123404000,
          "date": "2024-04-27T08:24:43.658Z"
        },
        {
          "file": "img/revs/text-7.png",
          "mtimeMs": 1714123404000,
          "date": "2024-04-27T08:24:44.375Z"
        },
        {
          "file": "img/revs/text-8.png",
          "mtimeMs": 1714123404000,
          "date": "2024-04-27T08:24:45.004Z"
        },
        {
          "file": "img/icons/check.svg",
          "mtimeMs": 1714059677682.0388,
          "date": "2024-04-27T08:24:30.408Z"
        },
        {
          "file": "img/backs/plan-mob.png",
          "mtimeMs": 1714141275520.811,
          "date": "2024-04-27T08:24:22.778Z"
        },
        {
          "file": "img/backs/main-img-mob-1.png",
          "mtimeMs": 1714141264645.12,
          "date": "2024-04-27T08:24:21.993Z"
        },
        {
          "file": "img/icons/date.svg",
          "mtimeMs": 1714117150914.5537,
          "date": "2024-04-27T08:24:31.766Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "removeCharset": false,
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "removeCharset": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.htm",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/libs.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js/libs.js",
          "tasks": {
            "concat-js": {
              "enable": true
            },
            "minify-js": {
              "enable": false
            }
          }
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js/scripts.js",
          "tasks": {
            "concat-js": {
              "enable": true
            },
            "minify-js": {
              "enable": false
            }
          }
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css/styles.css"
        }
      },
      {
        "file": "css/styles.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "css/styles.min.css"
        }
      },
      {
        "file": "js/libs.js",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "js/libs.min.js"
        }
      },
      {
        "file": "js/scripts.js",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "js/scripts.min.js"
        }
      }
    ]
  }
}
