header
	a(href="https://iomp.ru", target="_blank")
		img.header-logo(src=path+"img/images/logo-black.svg", alt="Логотип")
	.header-menu
		ul.header-menu-list
			li
				a(href='#plan') Программа курса
			li
				a(href='#prices') Тарифы
			li
				a(href='#author') Автор
	.mobile-menu
		.mobile-menu-line.mobile-menu-line-1
		.mobile-menu-line.mobile-menu-line-2
		.mobile-menu-line.mobile-menu-line-3