#why
	padding 90px 0
	@media screen and (max-width 991px)
		padding 60px 0
	@media screen and (max-width 386px)
		padding 40px 0
.why-item
	width 100%
	max-width 363px
	margin 0 auto 60px
	position relative
	padding-top: 23px
	@media screen and (max-width 991px)
		margin-bottom: 40px
		max-width none
	&:before
		content: ''
		display block
		position absolute
		top 0
		left 0
		width 98px
		height: 3px
		background-color #FE7D3B
	&-text
		font-size: 20px
		line-height: 1.2
		@media screen and (max-width 991px)
			font-size: 20px
		span
			font-weight: bold