#why
	padding 90px 0
.why-item
	width 100%
	max-width 363px
	margin 0 auto 90px
	position relative
	padding-top: 23px
	&:before
		content: ''
		display block
		position absolute
		top 0
		left 0
		width 98px
		height: 3px
		background-color #FE7D3B
	&-text
		font-size: 24px
		line-height: 1.2
		span
			font-weight: bold