#prices-line
	padding 60px 0
	background: #71767C url(../img/backs/prices.png) no-repeat center center
	background-size cover
	text-align center
	@media screen and (max-width 991px)
		padding 90px 0
	@media screen and (max-width 386px)
		padding 60px 0
.prices-line-text
	color #fff
	font-size: 24px
	font-weight: bold
	width 100%
	max-width 550px
	margin 0 auto 30px
	text-transform uppercase
	@media screen and (max-width 991px)
		font-size: 20px
		margin-bottom: 27px