#prices-line
	padding 130px 0
	background: #71767C url(../img/backs/prices.png) no-repeat center center
	background-size cover
	text-align center
.prices-line-text	
	color #fff
	font-size: 40px
	font-weight: bold
	width 100%
	max-width 700px
	margin 0 auto 50px
	text-transform uppercase