#about
	padding 90px 0
.about-item
	width 100%
	max-width 300px
	margin 0 auto 35px
	text-align center
	&-img
		display inline-block
		width 100%
		max-width 180px
	&-text
		font-size: 24px
		line-height: 1.2
.button-about
	margin-top: 90px