#about
	padding 90px 0
	@media screen and (max-width 991px)
		padding 0 0 60px
.about-item
	&s
		display flex
		flex-direction: row
		flex-wrap: wrap
		align-items: flex-start
		justify-content: space-between
		@media screen and (max-width 650px)
			flex-direction: column
	width 100%
	max-width 310px
	margin 0 auto 15px
	text-align center
	@media screen and (max-width 650px)
		text-align: left
		max-width none
		padding-left: 45px
		position relative
		margin 0
		padding:  0 0 25px 45px
		&:before
			content: ''
			display block
			position absolute
			height: 100%
			border-left: 3px dotted #FE7D3B
			top 0
			left 8px
		&:after
			content: ''
			display block
			position absolute
			top 0
			left 0
			width 20px
			height: 20px
			background-image: url(../img/icons/check.svg)
			background-repeat: no-repeat
			background-position: center
			background-size contain
		&:last-of-type
			&:before
				content: none
	&-img
		display inline-block
		width 100%
		max-width 100px
		@media screen and (max-width 650px)
			display none
	&-text
		line-height: 1.2
		@media screen and (max-width 991px)
			font-size: 20px
			span
				font-weight: bold
.button-about
	margin-top: 40px