I = 'Inter', sans-serif;
N = 'Noah', sans-serif;
G = 'Gerhaus', sans-serif;


@font-face
	font-family: 'Inter';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/InterRegular.eot');
	src: url('../fonts/InterRegular.eot') format('embedded-opentype'),url('../fonts/InterRegular.woff2') format('woff2'),url('../fonts/InterRegular.woff') format('woff'),url('../fonts/InterRegular.ttf') format('truetype'),url('../fonts/InterRegular.svg#InterRegular') format('svg');
@font-face
	font-family: 'Gerhaus';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Gerhaus.ttf');
	src: url('../fonts/Gerhaus.eot#iefix') format('embedded-opentype'),url('../fonts/Gerhaus.woff2') format('woff2'),url('../fonts/Gerhaus.woff') format('woff'),url('../fonts/Gerhaus.ttf') format('truetype'),url('../fonts/Gerhaus.svg#Gerhaus') format('svg');
@font-face
	font-family: 'Noah';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/NoahRegular.eot');
	src: url('../fonts/NoahRegular.eot') format('embedded-opentype'),url('../fonts/NoahRegular.woff2') format('woff2'),url('../fonts/NoahRegular.woff') format('woff'),url('../fonts/NoahRegular.ttf') format('truetype'),url('../fonts/NoahRegular.svg#NoahRegular') format('svg');
@font-face
	font-family: 'Noah';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/NoahBold.eot');
	src: url('../fonts/NoahBold.eot') format('embedded-opentype'),url('../fonts/NoahBold.woff2') format('woff2'),url('../fonts/NoahBold.woff') format('woff'),url('../fonts/NoahBold.ttf') format('truetype'),url('../fonts/NoahBold.svg#NoahBold') format('svg');