section#main
	.container
		.content
			+img('main-img mob-none', 'img/images/main-0.png', 'Жанна')
			+img('main-img-back-mob-1 d-none', 'img/backs/main-img-mob-1.png', 'Фон')
		.content
			include ../base/1-header
			.main-pre диплом о&nbsp;переподготовке
			h1.main-title бизнес-расстановщик
				small с&nbsp;жанной абрамовой
			+img('main-img-mob d-none', 'img/images/janna-main.png', 'Жанна')
			h2.main-subtitle Стань бизнес-расстановщиком и выйди на&nbsp;новый уровень профессии и личного&nbsp;дохода
			.main-date
				p 17 июня
				+img('', 'img/icons/date.svg', 'Точка')
				p 24 недели
				+img('', 'img/icons/date.svg', 'Точка')
				p онлайн
			+b('button-wrapper-left button-wrapper-main', '', '#plan', 'Смотреть программу')
section#what
	.container
		.content
			//- +img('main-img-back-mob-2 d-none', 'img/backs/main-img-mob-1.png', 'Фон')
			+gtl('', 'бизнес-расстановки', 'что такое')
			.row
				.col-md-6
					+img('what-img', 'img/images/what.png', 'Бизнес-расстановки — это отдельное направление классических системных расстановок')
				.col-md-6
					.what-info
						h4 Бизнес-расстановки — это отдельное направление классических системных расстановок
						p К&nbsp;нему относится любая работа с&nbsp;деньгами. Все, что касается сферы финансов, заработка, кредитов, долгов, покупок, продаж, выбора ниши, отношений в&nbsp;команде, финансового роста, карьеры, закупки товаров и всех нюансов, связанных с&nbsp;деньгами.
						p Клиент, который хочет зарабатывать больше — это ваш клиент на&nbsp;бизнес-расстановку. От&nbsp;кассира в&nbsp;Пятерочке или самозанятого рилс-мейкера до&nbsp;мечтающей о&nbsp;своем деле мамы в&nbsp;декрете или предпринимателя с&nbsp;опытом и огромной командой.