section#why
	.container
		+gtl('', 'Надо учиться именно у нас', 'почему')
		.row
			.col-md-4
				.why-item
					p.why-item-text
						span Институт Современной Психологии 
						|  с&nbsp;2019 года реализует программы профессиональной переподготовки и повышения квалификации
			.col-md-4
				.why-item
					p.why-item-text
						span Выдача диплома 
						|  установленного образца о&nbsp;профессиональной переподготовке с&nbsp;присвоением квалификации
			.col-md-4
				.why-item
					p.why-item-text
						span Проработанная методология 
						|  обучения от&nbsp;преподавателя-практика с&nbsp;большим опытом, чтобы каждый студент смог добиться своих целей
		.row
			.col-md-4.col-md-offset-2
				.why-item
					p.why-item-text
						span 70% практики и 30% теории. 
						|  Гибкий график обучения из&nbsp;любой точки мира! Смотрите уроки и выполняйте домашние задание когда вам удобно!
			.col-md-4
				.why-item
					p.why-item-text
						span Более 22&nbsp;000 студентов 
						|  из&nbsp;разных стран и городов России (Беларусь, Казахстан, Узбекистан, Молдова, Израиль, Италия, Турция, Англия, Германия, США, Канада и другие).