mixin fi(n, h4,p)
	.faq-item
		.faq-item-title
			h4!=h4
		.faq-item-info
			p!=p

section#faq
	.container
		+gts('', 'Ответы на&nbsp;частые вопросы')
		.faqs
			+fi('', 'Как оплатить курс в&nbsp;рассрочку?', 'Вы можете оплатить обучение поэтапно, в&nbsp;рассрочку без&nbsp;процентов и переплат с&nbsp;любым из&nbsp;наших банков-партнеров.<br>Рассрочка на&nbsp;обучение позволит вам оплачивать курс частями, разбив общую сумму от&nbsp;2 до&nbsp;24 месяцев.<br>Оформите заявку на&nbsp;выбранный вами тариф и в&nbsp;разделе оплаты выберите пункт Рассрочка.<br>Если вам не&nbsp;подходит вариант рассрочки через банк, мы можем предоставить внутреннюю рассрочку до&nbsp;6 месяцев. Оформите заявку на&nbsp;выбранный вами тариф и дождитесь звонка менеджера.')
			+fi('', 'Как оплатить курс из&nbsp;другой страны?', 'Оплатить обучение можно картой любой страны.')
			+fi('', 'Сколько длится обучение?', 'Обучение длится 6&nbsp;месяцев.')
			+fi('', 'Как долго будет открыт доступ к&nbsp;урокам?', 'Доступ к&nbsp;материалам курса бессрочный.')
			+fi('', 'Надо ли быть психологом или предпринимателем, чтобы проводить бизнес-расстановки?', 'Нет, не&nbsp;надо. Эти знания и навыки будут полезны, но они не&nbsp;ключевые в&nbsp;этом направлении. Можно быть очень хорошим бизнес-расстановщиком, при&nbsp;этом не&nbsp;иметь высшего психологического образования и не&nbsp;быть предпринимателем.')
			+fi('', 'Можно ли повысить тариф?', 'Тариф можно будет повысить во&nbsp;время обучения только со&nbsp;Стандарта до&nbsp;Практика. До&nbsp;тарифа VIP с&nbsp;Жанной повышение невозможно, т.к. количество мест в&nbsp;этом тарифе ограничено.')
			+fi('', 'Какие гарантии, что после курса я смогу проводить бизнес-расстановки и зарабатывать на&nbsp;этом?', 'На&nbsp;курсе вы получите проверенные и эффективные инструменты, десятки примеров из&nbsp;практики. Если вы будете следовать рекомендациям и применять полученные знания на&nbsp;практике, у&nbsp;вас будет результат и выход на&nbsp;новый уровень в&nbsp;профессии и заработке неизбежен.')
		p.faq-note *расчет на&nbsp;24&nbsp;месяца