mixin fi(n, h4, p)
	.col-md-4
		.for-item
			h4.for-item-title!=h4
			p.for-item-text!=p

section#for
	.container
		+gtr('', 'Кому подойдет', 'этот курс')
		.for-items
			.row
				+fi('', 'Практикующим', 'Практикующим специалистам с&nbsp;разным опытом, которые хотят вырасти в&nbsp;профессии, работая с&nbsp;запросами в&nbsp;теме денег (МАК-специалисты, психологи, тета-хилеры, системные расстановщики, коучи, тарологи и т.д.)')
				+fi('', 'Опытным', 'Опытным специалистам помогающей сферы, которые уже достигли своего профессионального максимума или финансового потолка и хотят повысить квалификацию, выйти на&nbsp;новый уровень в&nbsp;профессии и заработке.')
				+fi('', 'Кто хочет масштаба', 'Всем консультирующим специалистам, кто хочет масштаба. Вам надоело возиться с&nbsp;«маленькими» запросами и работать в&nbsp;минус по&nbsp;состоянию своих ресурсов. Вы хотите работать с&nbsp;клиентами, готовыми достойно платить за&nbsp;ваши услуги, чтобы с&nbsp;вами достигать быстрых и сильных результатов в&nbsp;своем деле.')
			.row
				+fi('', 'Новичкам', 'Новичкам, которые только планируют освоить помогающую профессию, при&nbsp;этом сразу погрузиться в&nbsp;глубину, в&nbsp;силу своей осознанности и достойно зарабатывать через инструмент бизнес-расстановок.')
				+fi('', 'Кто проходил обучение', 'Тем, кто уже проходил другие обучения по&nbsp;расстановкам, но чувствует, что не&nbsp;хватает практических инструментов, достаточного понимания динамик и хочет повысить свой уровень.')
				+fi('', 'Кому интересно', 'Тем, кто хочет решить личные вопросы финансовой сферы, для&nbsp;собственного роста и развития. Кому интересно узнать и понять денежное поле и законы функционирования систем.')
		+b('', 'd-none', href, 'Выбрать тариф')