mixin pb(n, h5, ...items)
	.plan-block
		.plan-block-title
			.plan-block-title-num
				p
					small блок
					!='0'+n
			.plan-block-title-name
				h5!=h5
		.plan-block-info
			p.plan-block-info-text Ваши результаты после прохождения блока:
			ul.general-list
				each item in items
					li!=item

section#plan
	.container
		+gt('general-title-plan', 'программа курса')
		.plan-blocks
			+pb('1', 'Введение в&nbsp;расстановочное поле. Исцеление поля', 'Узнаете, что такое расстановочное поле, как правильно расшифровывать послание поля, в&nbsp;чем отличие бизнес-поля от&nbsp;семейного и критерии их исцеления.','Усвоите способы и методы работы в&nbsp;бизнес-расстановках и в&nbsp;чем их различия. А&nbsp;так&nbsp;же — экологичный метод проведения расстановки, чтобы не&nbsp;навредить клиенту и в&nbsp;то&nbsp;же время максимально эффективно провести расстановку.','Поймете, как определить, что проблема клиента проработана и какие есть фазы изменения запроса клиента. Чтобы «исцеляя» полевые нарушения в&nbsp;бизнес-структуре клиента, не&nbsp;идти вразрез его кармическим задачам и тем самым повысить свой уровень профессионализма.')
			+pb('2', 'Законы функционирования систем. Денежное поле организации', 'Освоите законы функционирования семейных и бизнес-систем.','Научитесь выявлять нарушения в&nbsp;системе клиента для&nbsp;быстрого определения ключевой проблемы его бизнес-структуры.','Научитесь переводить кризисы бизнеса в&nbsp;развитие системы, работать с&nbsp;долгами и финансовыми ямами компаний, выводить бизнес клиента на&nbsp;новый уровень роста в&nbsp;случае форс-мажорных обстоятельств и проблем с&nbsp;государственными органами. Что позволит, в&nbsp;свою очередь, вам быть самым высокооплачиваемым бизнес-расстановщиком.')
			+pb('3', 'Факторы, влияющие на&nbsp;развитие бизнеса', 'Научитесь разбираться, что именно и как, препятствует развитию бизнеса на&nbsp;полевом уровне и на&nbsp;уровне личности собственника бизнеса и главных членов компании.','Сможете работать с&nbsp;родовыми денежными программами, блоками ресурсности, индивидуальными психотравмами и травматикой предков, препятствующих развитию бизнеса клиента. Благодаря чему, начнется рост и масштабирование бизнеса у&nbsp;ваших клиентов. А&nbsp;значит, повысится и ваше благосостояние.')
			+pb('4', 'Устройство больших систем. Влияние отношений в&nbsp;семейной системе на&nbsp;развитие бизнеса', 'Узнаете, как взаимодействие с&nbsp;системами высшего порядка влияют на&nbsp;развитие и прибыль компании, каким образом владельцу бизнеса «договориться» с&nbsp;глобальными внешними процессами.','Сможете точно диагностировать причины, по&nbsp;которым может прогореть бизнес; причины финансовых потерь и негативных событий в&nbsp;организации, и что влияет на&nbsp;возникновение конфликтов между сотрудниками.','Поймете, как восстанавливать и увеличивать финансовую энергию в&nbsp;бизнесе через системные ресурсы.','Увидите, как взаимоотношения в&nbsp;семье ключевых фигур компании действуют на&nbsp;ее прибыль. Поймете, как с&nbsp;этим работать.')
			+pb('5', 'Динамика бизнес-структур. Способы повышения эффективности в&nbsp;бизнесе', 'Научитесь выявлять динамики собственников бизнеса, ключевых людей компании, партнеров и сотрудников, которые мешают развитию бизнеса. А&nbsp;также выявлять Миссию и Сверх задачу бизнеса, чтобы компания смогла найти свое место в&nbsp;системе.','Получите схему проработки деструктивных денежных программ рода и методологию по&nbsp;работе с&nbsp;денежной ментальностью клиента для&nbsp;предотвращения безденежья, финансовых потерь, блоков и страхов при&nbsp;создании бизнеса.','Сможете разрешать межличностные конфликты сотрудников организации, чтобы система работала слаженно, как единый механизм. Что поможет бизнесу выйти из&nbsp;кризиса, повысить эффективность и пойти по&nbsp;продуктивному вектору развития.','Поймете, как созависимость, алкоголизм, суициды в&nbsp;родовой системе влияют на&nbsp;бизнес и научитесь работать с&nbsp;масштабированием бизнеса в&nbsp;поле. При&nbsp;этом создавая очередь из&nbsp;клиентов в&nbsp;своей расстановочной практике.')
			+pb('6', 'Виды расстановок по&nbsp;работе с&nbsp;организацией и бизнесом', 'Получите методологию по&nbsp;проведению маркетинговых и организационных расстановок.','Сможете помочь клиенту разобраться, что в&nbsp;его бизнесе идет не&nbsp;так.','Научитесь проводить бизнес-расстановки на&nbsp;нескольких уровнях: Родовой, Опыт Души, Личная динамика.','Выйдите на&nbsp;такой уровень профессионализма, который позволит вам проводить квантовые бизнес-расстановки без&nbsp;долгосрочных проработок клиента.','Освоите систему работы с&nbsp;параллельными коридорами реальности, которые помогут выявить правильное направление в&nbsp;компании и тем самым, через полевые процессы помочь клиенту увидеть варианты решения и развития бизнеса.')