section#author
	.container
		+gtc('general-title-author', 'жанна абрамова', 'автор и ведущая')
		p.d-none.author-info-text-mob Психотерапевт, клинический психолог
		.author-info
			+img('author-info-img-1', 'img/images/janna-1.png', 'Жанна Абрамова')
			.author-info-text
				p.mob-none Психотерапевт, клинический психолог
				ul
					li Более 20 лет практической работы
					li Более 10000 выпускников, окончивших курсы и обучающие программы.
					li Эксперт федеральных каналов
					li Ведущий преподаватель «Института современной психологии»
					li Коуч, тренер обучающих и трансформационных программ, многие из которых созданы с применением собственных инструментов и методик
			h4.author-info-best Премия SKOLKOVO TECH & INNOVATION Awards 2023 в номинации «Лучший бизнес-расстановщик года»
			+img('author-info-img-2', 'img/images/janna-2.png', 'Жанна Абрамова')
		+b('', '', href, 'Поступить в&nbsp;институт')
		p.cert-text  После прохождения курса студент получает 
			span ДИПЛОМ С ПРИСВОЕНИЕМ КВАЛИФИКАЦИИ УСТАНОВЛЕННОГО образца
			|  о профессиональной переподготовке
			small лицензия № Л035-01298-77/00181313
		+img('cert-img', 'img/images/cert.png', 'Диплом')