section#prices-line
	.container
		h4.prices-line-text Начни достойно зарабатывать на&nbsp;консультациях, проводя бизнес-расстановки
		a(href=href)
			+img('prices-line-img', 'img/icons/arrow-down-white.svg', 'Стрелка вниз')