section#prices
	.container
		+gtl('', 'Формат участия', 'выберите')
		.row
			.col-md-4
				.packet.packet-blue
					.packet-head
						h4.packet-head-title тариф “стандарт”
				.packet-body
					ul.packet-body-list
						li Модули: 1-6
						li Обратная связь от&nbsp;куратора по&nbsp;всем урокам
						li Общий групповой чат
						li.absence Отработка домашних заданий в&nbsp;группах
						li.absence Супервизии
						li.absence Удостоверение о&nbsp;повышении квалификации  о&nbsp;прохождении супервизий 
						li.absence Онлайн-практикум с&nbsp;сотренерами раз в&nbsp;неделю
						li.absence Квантовые и многоуровневые бизнес-расстановки
						li.absence Удостоверение о&nbsp;повышении квалификации
						li Диплом установленного образца о&nbsp;профессиональной переподготовке с&nbsp;присвоением квалификации
				.packet-footer
					p.cost.cost-full 149&nbsp;000&nbsp;₽
					p.cost-text стоимость сейчас
					p.cost.cost-today 94&nbsp;000&nbsp;₽
					p.cost-text Рассрочка от&nbsp;3&nbsp;917&nbsp;руб. в&nbsp;месяц*
					+b('','','','Присоединиться')
			.col-md-4
				.packet.packet-blue
					.packet-head
						h4.packet-head-title тариф “практик”
				.packet-body
					ul.packet-body-list
						li Модули: 1-6
						li Обратная связь от&nbsp;сотренеров по&nbsp;всем урокам
						li Малые групповые чаты
						li Отработка домашних заданий в&nbsp;группах
						li Супервизии
						li Удостоверение о&nbsp;повышении квалификации о&nbsp;прохождении супервизий
						li Онлайн-практикум с&nbsp;сотренерами раз в&nbsp;неделю
						li.absence Квантовые и многоуровневые бизнес-расстановки
						li.absence Удостоверение о&nbsp;повышении квалификации
						li Диплом установленного образца о&nbsp;профессиональной переподготовке с&nbsp;присвоением квалификации
				.packet-footer
					p.cost.cost-full 249&nbsp;000&nbsp;₽
					p.cost-text стоимость сейчас
					p.cost.cost-today 189&nbsp;000&nbsp;₽
					p.cost-text Рассрочка от&nbsp;7&nbsp;875 &nbsp;руб. в&nbsp;месяц*
					+b('','','','Присоединиться')
			.col-md-4
				.packet.packet-orange
					.packet-head
						h4.packet-head-title тариф “VIP”
							span с Жанной Абрамовой
				.packet-body
					p.packet-body-text Только 50&nbsp;мест!
					ul.packet-body-list
						li Модули: 1-6
						li Обратная индивидуальная связь от сотренера по всем урокам 
						li Чат с Жанной Абрамовой
						li Совместная индивидуальная отработка домашних заданий с сотренером
						li Супервизии 
						li Удостоверение о повышении квалификации о прохождении супервизий
						li Онлайн-практикум с Жанной Абрамовой раз в неделю
						li Квантовые и многоуровневые бизнес-расстановки
						li Удостоверение о повышении квалификации
						li Диплом установленного образца о профессиональной переподготовке с присвоением квалификации
				.packet-footer
					p.cost.cost-full 349&nbsp;000&nbsp;₽
					p.cost-text стоимость сейчас
					p.cost.cost-today 284&nbsp;000&nbsp;₽
					p.cost-text Рассрочка от&nbsp;11&nbsp;833&nbsp;руб. в&nbsp;месяц*
					+b('','','','Присоединиться')