section#prices
	.container
		+gtl('', 'Формат участия', 'выберите')
		.row
			.col-md-4
				.packet.packet-blue
					.packet-head
						h4.packet-head-title тариф “стандарт”
					.packet-body
						ul.packet-body-list
							li Модули: 1-6
							li Обратная связь от&nbsp;куратора по&nbsp;всем урокам
							li Общий групповой чат
							li.absence Отработка домашних заданий в&nbsp;группах
							li.absence Супервизии
							li.absence Удостоверение о&nbsp;повышении квалификации  о&nbsp;прохождении супервизий 
							li.absence Онлайн-практикум с&nbsp;сотренерами раз в&nbsp;неделю
							li.absence Квантовые и многоуровневые бизнес-расстановки
							li.absence Удостоверение о&nbsp;повышении квалификации
							li Диплом установленного образца о&nbsp;профессиональной переподготовке с&nbsp;присвоением квалификации
					.packet-footer
						p.cost.cost-full 149&nbsp;000&nbsp;₽
						//- p.cost-text стоимость сейчас
						//- p.cost.cost-today 94&nbsp;000&nbsp;₽
						//- p.cost-text Рассрочка от&nbsp;3&nbsp;917&nbsp;руб. в&nbsp;месяц*
						+b('','button-price','https://shop.iomp.ru/?r=ordering/cart/as1&id=973&clean=true&lg=ru','Присоединиться', '', '_blank')
						//- +b('','button-price','javascript:void(0)','Присоединиться', '38')
			.col-md-4
				.packet.packet-blue
					.packet-head
						h4.packet-head-title тариф “практик”
					.packet-body
						ul.packet-body-list
							li Модули: 1-6
							li Проверка домашних заданий и обратная связь от&nbsp;опытных сотренеров-практиков с&nbsp;большим опытом
							li Малые групповые чаты для&nbsp;отработки практических заданий
							li Супервизия с&nbsp;преподавателем Светланой Берко для&nbsp;ведения успешной долгосрочной работы с&nbsp;клиентами (16&nbsp;часов)
							li Удостоверение о&nbsp;повышении квалификации о&nbsp;прохождении супервизий по&nbsp;программе "Бизнес-психология. Бизнес-расстановщик. Супервизия" (для&nbsp;ведения практики)
							li Онлайн-практикумы с&nbsp;сотренерами с&nbsp;групповыми разборами и ответами на&nbsp;вопросы участников
							li Диплом установленного образца о&nbsp;профессиональной переподготовке
					.packet-footer
						p.cost.cost-full 249&nbsp;000&nbsp;₽
						//- p.cost-text стоимость сейчас
						//- p.cost.cost-today 189&nbsp;000&nbsp;₽
						//- p.cost-text Рассрочка от&nbsp;7&nbsp;875 &nbsp;руб. в&nbsp;месяц*
						+b('','button-price','https://shop.iomp.ru/?r=ordering/cart/as1&id=974&clean=true&lg=ru','Присоединиться', '', '_blank')
						//- +b('','button-price','javascript:void(0)','Присоединиться', '39')
			.col-md-4
				.packet.packet-orange
					.packet-head
						h4.packet-head-title тариф “VIP”
							span с Жанной Абрамовой
					.packet-body
						p.packet-body-text Осталось 12&nbsp;мест!
						ul.packet-body-list
							li Модули: 1-6
							li Обратная индивидуальная связь от сотренера по всем урокам 
							li Чат с Жанной Абрамовой
							li Совместная индивидуальная отработка домашних заданий с сотренером
							li Супервизии 
							li Удостоверение о&nbsp;повышении квалификации о&nbsp;прохождении супервизий по&nbsp;программе "Бизнес-психология. Бизнес-расстановщик. Супервизия" (для&nbsp;ведения практики)
							li Онлайн-практикум с Жанной Абрамовой раз в 2 недели
							li Квантовые и многоуровневые бизнес-расстановки
							li Удостоверение о&nbsp;повышении квалификации по&nbsp;дополнительной профессиональной программе "Многоуровневые и квантовые расстановки"
							li Диплом установленного образца о&nbsp;профессиональной переподготовке
					.packet-footer
						p.cost.cost-full 449&nbsp;000&nbsp;₽
						//- p.cost-text стоимость сейчас
						//- p.cost.cost-today 284&nbsp;000&nbsp;₽
						//- p.cost-text Рассрочка от&nbsp;11&nbsp;833&nbsp;руб. в&nbsp;месяц*
						+b('','button-price button-price-orange button-disabled','javascript:event.preventDefault();','Sold out', '', '_blank')
						//- +b('','button-price button-price-orange','javascript:void(0)','Присоединиться', '40')