mixin ai(n,p)
	.about-item(class="about-item-"+n)
		+img('about-item-img', 'img/icons/about-'+n+'.png', p)
		p.about-item-text!=p


section#about
	.container
		+gtr('', 'бизнес-расстановки', 'с&nbsp;жанной абрамовой - это:')
		.about-items
				+ai('1', '<span>Обратная связь</span> на&nbsp;всех этапах обучения')
				+ai('2', '<span>Чат с&nbsp;единомышленниками</span> кураторами, сотренерами и Жанной (в&nbsp;зависимости от&nbsp;тарифа)')
				+ai('3', '<span>Супервизии</span> с&nbsp;выдачей удостоверения (тариф Практик и VIP)')
				+ai('4', '<span>Диплом установленного образца</span> о&nbsp;профессиональной переподготовке с&nbsp;присвоением квалификации после обучения')
				+ai('5', '<span>Бессрочный</span> доступ к&nbsp;материалам курса')
				+ai('6', '<span>Онлайн-практикумы</span> с&nbsp;сотренерами, Жанной (в&nbsp;зависимости от&nbsp;тарифа)')
		+b('', 'button-about', '#plan', 'Смотреть программу')