mixin ai(n,p)
	.about-item
		+img('about-item-img', 'img/icons/about-'+n+'.png', p)
		p.about-item-text!=p


section#about
	.container
		+gtr('', 'бизнес-расстановки', 'с&nbsp;жанной абрамовой - это:')
		.row
			.col-md-4
				+ai('1', '<span>Обратная связь</span> на&nbsp;всех этапах обучения')
			.col-md-4
				+ai('2', '<span>Чат с&nbsp;единомышленниками<span> кураторами, сотренерами и Жанной (в&nbsp;зависимости от&nbsp;тарифа)')
			.col-md-4
				+ai('3', '<span>Супервизии</span> с&nbsp;выдачей удостоверения (тариф Практик и VIP)')
		.row
			.col-md-4
				+ai('4', '<span>Диплом о&nbsp;профессиональной переподготовке государственного образца после обучения')
			.col-md-4
				+ai('5', 'Бессрочный доступ к&nbsp;материалам курса')
			.col-md-4
				+ai('6', 'Онлайн-практикумы с&nbsp;сотренерами, Жанной (в&nbsp;зависимости от&nbsp;тарифа)')
		+b('', 'button-about', href, 'Смотреть программу')