section#timer
	.container
		.timer-title
			h3 17.06.2024
			p Дата старта курса бизнес-расстановки
		.timer-text
			p цены повысятся через
			+img('', 'img/icons/arrow-down-orange.svg', 'Стрелка')
			.timer
				.clock
			+b('', '', '#plan', 'Смотреть программу')