* {
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  font-size: 17px;
  font-family: I;
  color: #000;
  background-color: #fff;
  line-height: 1.1;
}
.wrapper {
  overflow: hidden;
}
.content {
  position: relative;
  z-index: 60;
}
a {
  color: #000;
}
a:focus {
  outline: 0;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}
button {
  border: none;
}
section,
header,
footer {
  width: 100%;
  display: block;
}
.video-wrapper {
  margin: 0 auto;
  position: relative;
  width: 100%;
  top: 0;
}
.video-wrapper:before {
  content: '';
  height: 0;
  padding-top: 56.25%;
  display: block;
}
.video-wrapper:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
}
.video-wrapper img,
.video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #000;
  border-radius: 0;
  border: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  margin: 0 auto;
}
.button {
  display: inline-block;
  margin: 0 auto;
  text-decoration: none;
  color: #fff;
  width: auto;
  font-size: 12px;
  font-weight: bold;
  padding: 17px 48px;
  border-radius: 24px;
  background-color: #247974;
}
.button-wrapper {
  text-align: center;
}
.button-wrapper-left {
  text-align: left;
}
.button:focus {
  text-decoration: none;
  color: #fff;
}
.button:hover {
  text-decoration: none;
  color: #fff;
}
.button-main {
  background-color: transparent;
  border: 2px dotted #000;
  color: #000;
}
.button-main:focus {
  color: #000;
}
.button-main:hover {
  color: #000;
}
.gt-pre {
  font-size: 13px;
  color: #666;
  margin-bottom: 10px;
}
@media screen and (max-width: 991px) {
  .gt-pre {
    display: none;
  }
}
.general-title {
  text-transform: uppercase;
  color: #247974;
  font-family: RG;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}
.general-img {
  position: absolute;
}
@media screen and (max-width: 991px) {
  .mob-none {
    display: none;
  }
}
.general-text {
  margin-bottom: 10px;
}
.general-text span {
  font-weight: bold;
}
.general-text-right {
  text-align: right;
}
.general-list {
  margin-left: 30px;
}
@media screen and (max-width: 386px) {
  .general-list {
    margin-left: 15px;
  }
}
.general-list li {
  position: relative;
  margin-bottom: 10px;
}
.general-list li:last-child {
  margin-bottom: 0;
}
