footer {
  background-color: #c4e8e5;
  padding: 20px 0 15px;
  font-size: 13px;
}
.footer-logo {
  width: 113px;
}
@media screen and (max-width: 991px) {
  footer {
    padding: 40px 0 35px;
  }
}
footer a:focus,
footer a:hover {
  color: #000;
}
.footer-main {
  padding: 23px 0 32px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.footer-info {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-info p {
  margin-bottom: 5px;
}
@media screen and (max-width: 991px) {
  .footer-info {
    display: block;
    margin-top: 0;
  }
}
@media screen and (max-width: 991px) {
  .footer-info-item {
    margin-top: 40px;
  }
}
.footer-links {
  margin-top: 15px;
}
.footer-links a {
  margin-right: 5px;
  display: inline-block;
  margin-bottom: 5px;
}
